Question1:write a code to reverse a string

In [ ]:
str1="hello"
str1[::-1]

'olleh'

Question2:write a code to count the number of vowel in a string

In [ ]:
input_string="hello world ,how are you"
vowels='aeiouAEIOU'
vowel_count=0
for char in input_string:
  if char in vowels:
    vowel_count=vowel_count+1
print("Number of vowels in string:",vowel_count)

Number of vowels in string: 8

Question 3: write a code to check a given string is palindorme or not

In [ ]:
str1=input("enter the string: ")
if(str1==str1[::-1]):
  print("This string is palindrome: ")
else:
  print("This is not palindrome: ")

enter the string: naman
This stringis palindrome:

Question 4:write a code to check if a given string are anagrams of each other.

In [ ]:
def check(s1,s2):
  if(sorted(s1)==sorted(s2)):
    print("The string is anagram")
  else:
    print("Not anagram")
s1='listen'
s2='silent'
check(s1,s2)

The string is anagram

Question 5: write a code to find all occurences of a given substring within another string

In [ ]:
#

Question 6: write a code to perform basic string compression usings the counts of repeated characters

In [ ]:
input_string="aabbcccccddddeeee"
compresed=""
count=1
for i in range(len(input_string)-1):
  if(input_string[i]==input_string[i+1]):
    count=count+1
  else:
    compresed+=input_string[i]+str(count)
    count=1
compresed+=input_string[-1]+str(count)
print(compresed)

a2b2c5d4e4

Question 7:write a code to determine if a string has all unique character

In [ ]:
def uniquechar(str):
  for i in range(len(str)):
    for j in range(i+1,len(str)):
      if(str[i]==str[j]):
        return False
  return True

str="abcdef"
if(uniquechar(str)):
  print("The String ",str,"has all unique character")
else:
  print("The String ",str,"has duplicate character")

The String  abcdef has all unique character

Question 8: write a code to convert given string to lowercase or uppercase

In [ ]:
#for lowercase to uppercase
str1="abcdefg"
str1.upper()

'ABCDEFG'

In [ ]:
# for uppercase to lowercase
str2="MANGO AND APPLE"
str2.lower()

'mango and apple'

Question 9: Write a code to count the number of words in a string

Question 10:write a code to concatenate two strings without using the + operator.

In [ ]:
l1=[1,2,3,4,"apple"]
l2=["mango",2.2,9,10]
l1.append(l2)
l1

[1, 2, 3, 4, 'apple', ['mango', 2.2, 9, 10]]

Question 11:implement a code to find the second largest number in a given list of integers.

In [ ]:
lis=[8,6,2,9,12,10,5,6,1]
unique_number=list(set(lis))
unique_number.sort()
if len(unique_number)<2:
  print("there is no second largest number")

else:
  second_largest=unique_number[-2]
  print("the second largest number is  ",second_largest)

the second largest number is   10

Question 13: create a code to count the occurrences of each element in a list and return a dictionary with element as key and their counts as values.

In [ ]:
lis1=[1,1,2,3,2,2,2,4,4,4,3,3]
# initiliaze a empty dictionary to counts
counts={}
for i in lis1:
  if i in counts:
    counts[i]+=1
  else:
    counts[i]=1
print(counts)

{1: 2, 2: 4, 3: 3, 4: 3}

Question 14: write a code to reverse a list in -place without using any built-in reverse function

In [ ]:
x=[1,2,3,4,5,6,7,8,9]
left=0
right=len(x)-1
while left<right:
  x[left],x[right]=x[right],x[left]
  left+=1
  right -=1
print(x)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

Question 15: implement a code to find and remove duplicates from a list while preserving the original order of element.



---

In [ ]:
def check_list(lst):
  if lst==sorted(lst):
    return "The list is sorted in ascending order"
  elif lst==sorted(lst,reverse=True):
    return "The list is sorted in descending order"
  else:
    return "The list is not sorted"
lst1=[5,4,3,2,1]
lst2=[1,2,3,4,5]
lst3=[1,4,2,3,5]
print(check_list(lst1))
print(check_list(lst2))
print(check_list(lst3))

The list is sorted in descending order
The list is sorted in ascending order
The list is not sorted

Question 17: create a code to merge two sorted list into a single list

In [ ]:
list1=[2,3,4,6,5]
list2=[9,8,7,1,3]
list3=list1+list2
sorted(list3)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9]

Question 18: Implement a code to find the intersection of two given list

In [ ]:
list1=[2,3,4,6,5]
list2=[9,8,7,1,3]
#using comprehension
intersection=[i for i in list1 if i in list2]
print(intersection)

[3]

Question 19: create a code to find the union of two list without duplicates.

In [ ]:
list1=[2,3,4,6,5]
list2=[9,8,7,1,3]
union=list1 +[i for i in list2 if i not in list1]
print(union)

[2, 3, 4, 6, 5, 9, 8, 7, 1]

Question 20:write a code to shuffle a given list randomly without using any built-in shuffle function

In [ ]:
 import random
 lis1=[1,2,3,4,5]
 print("The original list is  :",list1)
 random.shuffle(list1)
 print("The shuffled list is: ",list1)

The original list is  : [1, 2, 3, 4, 5]
The shuffled list is:  [1, 3, 4, 5, 2]

Question 21: write a code that take two tuple as input and return a new tuple containing elements that are common to both input tuples.

In [ ]:
tup1=input("enter the element in tuple1: ")
tup2=input("enter the element in tuple2: ")
tup3=[i for i in tup1 if i in tup2]

print(tup3)

enter the element in tuple1: 2,4
enter the element in tuple2: 4,1
[',', '4']

Question 22: create a code that prompts the user to enter two sets of integers separated by commas.then,print the intersection of two sets.

In [ ]:
user_input1=input("enter values,separated by comma: ")
user_input2=input("enter values, seprated by comma: ")
# split he both sets
set1=set(int(i) for i in user_input1.split(","))
set2=set(int(i) for i in user_input2.split(","))

# intersection of sets

intersection=set1 & set2
print(intersection)

enter values,separated by comma: 1,23,5,6
enter values, seprated by comma: 3,45,6,7,2
{6}

Question 23:write a code to concatenate two tuple. The function should take two tuple as input and return a new tuple containing elements from both input tuples.

In [ ]:
def concatenate_tuple(tup1,tup2):
  return tup1 + tup2
tup1=(1,2,34)
tup2=(5,6,78,9)
result=concatenate_tuple(tup1,tup2)
print(result)

# type
type(result)

(1, 2, 34, 5, 6, 78, 9)

tuple

Question 24: Develop a code that prompts the user to input two sets of string  .Then,print te element that are present in first set but not in the second set.

In [ ]:
def get_set_from_user(prompt):
  user_input=input(prompt)

  #convert the input string into a set splitting by a spaces
  return set(user_input.split())

set_a=get_set_from_user("enter elements  of the first set: ")
set_b=get_set_from_user("enter elements of the secnd set: ")

#present in set_a but not in set_b

differences=set_a - set_b

print("element in first set but not in second set: ",differences)

enter elements  of the first set: apple mango fig
enter elements of the secnd set: apple fig orange
element in first set but not in second set:  {'mango'}

Question 25: Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

Question 26: Write a code  that prompts the user to input two set of characters. Then,print the union of these two sets.

In [ ]:
def set_input(prompt):
  user_input=input(prompt)
  return set(user_input.split())

set1=set_input("enter the charaters: ")
set2=set_input("enter the charaters: ")

union_set=set1 | set2

print(union_set)

enter the charaters: mango fig
enter the charaters: fig orange
{'mango', 'fig', 'orange'}

Question 27: Develop a code that take a tuple of integers as input.The function should return the maximum and minimuum values from the tuple using tuple unpacking.

In [ ]:
def find_max_min(numbers):
  max_value=max(numbers)
  min_value=min(numbers)
  return max_value,min_value

numbers=(1,2,3,4,8,90,6,78,9)
#function call

max_value,min_value=find_max_min(numbers)

print(f"Maximum: {max_value},Minimum:{min_value}")

Maximum: 90,Minimum:1

Question 28: crete a code that define two sets of integers. Then print the union,intersection,and Difference of these two sets.

In [ ]:
# define two sets
set1={1,2,3,4,9}
set2={1,5,34,89,9}

#union of two sets

union_set=set1 | set2

# intersection of two sets

intersection_set=set1 & set2

# difference of two sets
difference_set=set1-set2

print(f"union: {union_set}")
print(f"intersection: {intersection_set}")
print(f"Difference: {difference_set}")

union: {1, 2, 3, 4, 34, 5, 9, 89}
intersection: {1, 9}
Difference: {2, 3, 4}

Question 29: Write a code to take a tuple  and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [2]:
def count_occurrences(tpl,element):
  return tpl.count(element)

my_tuple=(1,2,3,4,2,5,2)
element=2
print(count_occurrences(my_tuple,element))

3

Question  30: Develop a code that promptes thhe user to input two sets of strings then print the symmetric diffrences of two sets

In [5]:
def symmetric_difference():
  set1=set(input("enter the elements of the first set,seperated by spaces: ").split())

  set2=set(input("enter the element of the second set , seperated by spaces: ").split())

  sym_diff=set1.symmetric_difference(set2)

  print("symmetric difference: sym_diff")
symmetric_difference()

enter the elements of the first set,seperated by spaces: apple banana
enter the element of the second set , seperated by spaces: mango banana
symmetric difference: sym_diff

Question 32: write a code that take two dictionaries as input and merge tem into a single dictionary .if there are common keys the values will be added togethher

In [6]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Start with a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add the values if key is common
        else:
            merged_dict[key] = value  # Add the key-value pair if key is not in the first dictionary

    return merged_dict

# Example usage
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 25, 'd': 40}

result = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", result)

Merged Dictionary: {'a': 10, 'b': 35, 'c': 55, 'd': 40}